body{
    margin: 0;
}

.header{
    border-top: 0px;
    padding:20px 5px 20px 10px;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    font-size: 60px;
    font-family: "century Gothic",CenturyGlothic,AppleGlothic,sans-serif;
    font-weight: inherit;
    background-color: #3399cc;
    border-width: 0;
    line-height: 80px;
}
.subheader{
    display: flex;
    background-color:rgb(0,0,0,0.8);
    color: white;
    flex-direction: row;
    justify-content: space-between;
    height: 5.5%;
}


.subheader > div {
    color: white;
    width: 100px;
    text-align: center;
    line-height: 30px;
    font-size: 19px;
    font-family: "century Gothic",CenturyGothic,AppleGothic,sans-serif;
  }
  .subheaderLeft{
    display: flex;
    margin-top: 4px;
  }
  .subheaderLeft>div{
    margin-left:20px;
    display: flex;
    margin-right: 10px;
    margin-top: 0%;
  }
  .subheaderright{
    padding-top: 3px;
  }
.news{
    position: relative;
    left: 50px;
    border-style: solid;
    border-width: 1px ;
    border-color: rgb(0,0,0,0.3);
    background-color: white;
    height:205px;
    width:850px;
    font-size: 16px;
}
.subheaderright{
    margin-top: 3px;
}
.welcome {
    padding-top:20px;
    padding-left: 50px;
}
ul.newsList{
    list-style-type:"-  ";
    margin: 0px;
}
.newsHeader1{
    font-family: 'sans serif';
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 0px;
}
.newsHeader2{
    font-family:"century Gothic",CenturyGothic,AppleGothic,sans-serif;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 20px;
}
h2{
    font-family: "century Gothic",CenturyGothic,AppleGothic,sans-serif;
}
.headerSize{

    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'calibri';
    font-size: 23px;
}
li{
    font-family:sans-serif;
    font-size:17px;
}
.welcomep1{
    font-weight: 500!important;
    font-family: sans-serif;
    font-size:16px;
}
.welcomep2{
    /* font-weight: 450 ; */
    font-family: sans-serif;
    font-size:16px;
}
.welcomep3{
    /* font-weight:450; */
    font-family: sans-serif;
    font-size:16px;
}